.scope-of-application-title-area h4 {
    color: #000000;
    font-size: 62px;
    font-family: 'Poppins';
    font-weight: 600;
}

.scope-of-application-title-area {
    text-align: center;
}

.scope-of-application-title-area h4::after {
    content: "";
    display: block;
    border-bottom: 5px solid #07A9B1;
    width: 45%;
    margin: 20px auto;
}

.scope-of-application-text-area {
    margin-top: 34px;
}

.scope-of-application-text-area p {
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    font-family: 'Poppins';
    text-align: center;
    width: 575px;
    margin: 0 auto;
}

.more-information-text-image {
    display: flex;
    flex-direction: row;
}

.scope-of-application-information-area {
    margin-top: 68px;
}

.more-information-body-title h4 {
    color: #07A9B1;
    font-size: 42px;
    font-weight: 600;
    font-family: 'Poppins';
    margin: 0;
}

.more-information-body-title {
    margin-bottom: 17px;
}

.more-information-body-text p {
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    font-family: 'Poppins';
    margin: 0;
}

.more-information-body-text {
    margin-bottom: 12px;
}

.the-outdoor-title-area h4 {
    color: #07A9B1;
    font-size: 32px;
    font-weight: 600;
    font-family: 'Poppins';
}

.the-outdoor-unit-area-icon {
    display: flex;
}

.the-outdoor-title-area {
    margin-top: 33px;
    margin-bottom: 33px;
}

.the-outdoor-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
}

.the-outdoor-text-area p {
    text-align: center;
    color: #07A9B1;
    font-size: 14px;
    line-height: 1.3;
    margin-top: 17px;
}

@media (min-width:280px) and (max-width:768px) {
    .scope-of-application-text-area p {
        width: inherit;
    }

    .more-information-body-title h4 {
        font-size: 30px;
    }

    .more-information-body-text p {
        font-size: 16px;
    }


    .the-outdoor-title-area h4 {
        color: #07A9B1;
        font-size: 20px;
        font-weight: 400;
        font-family: 'Poppins';
    }

    .outdoor-banner-area img {
        width: 100%;
    }
    .the-outdoor-unit-area-icon {
        display: flex;
        justify-content: center;
    }
    .scope-of-application-title-area h4 {
        font-size: 35px;
    }
    .scope-of-application-title-area h4::after {
        content: "";
        width: 100%;
    }
    .the-outdoor-img-area {
        text-align: center;
    }
    .the-outdoor-img-area img {
        width: 56px;
    }
    .the-outdoor-text-area p {
        font-size: 12px;
    }

}